*{
    
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-transform: capitalize;
    outline: 0px;
    scroll-behavior: smooth;
}




:root{
    --main-red:#FB2274;
    --main-black:#444444;
    --main-gray:#A9A9A9;
    --back-gray:#F5F5F5;
}

.html{
    font-size: 16px;
}

h1{
    font-family: 'Allura', 'cursive';
}

a{
    color: white;
    text-decoration: none;
}





/* ___________________________ header _______________________________  */
header{
    background-image: url('./p3.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 65vh;
}


.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    width: 85%;
    margin-left: 15%;
}


.head h1{
    color: var(--main-red);
    font-weight: 200;
    margin-left: -5%;
}

nav{
    flex-basis: 60%;
    text-align: center;

}

.head ul{
    list-style-type: none;
}

.head ul li{
    display: inline-block;
    margin: 0px 10px;

}
.head ul li a{
    text-transform: uppercase;
} 

.contain{
    text-align: center;
    
    
}
.contain h1{
    
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 0px;
    font-size: 2.3em;
    color: white;
    text-transform: uppercase;
   


}

.contain h2{
    margin: 5px 0px 18px 0px;
    font-size: 2.3em;
    color: var(--main-red);
    text-transform: uppercase;
   
}

.contain p{
    color: var(--main-gray);
    text-transform: none;
}